- if current_user
  .issues-export-modal.modal
    .modal-dialog
      .modal-content{ data: { qa_selector: 'export_issues_modal' } }
        .modal-header
          %h3
            = _('Export issues')
          .svg-content.import-export-svg-container
            = image_tag 'illustrations/export-import.svg', alt: _('Import/Export illustration'), class: 'illustration'
          %a.close{ href: '#', 'data-dismiss' => 'modal' }
            = sprite_icon('close', css_class: 'gl-icon')
        .modal-body
          - issues_count = issuables_count_for_state(:issues, params[:state])
          - unless issues_count == -1 # The count timed out
            .modal-subheader
              = sprite_icon('check', css_class: 'gl-text-green-400')
              %strong.gl-ml-3
                = n_('%d issue selected', '%d issues selected', issues_count) % issues_count
          .modal-text
            = html_escape(_('The CSV export will be created in the background. Once finished, it will be sent to %{strong_open}%{email}%{strong_close} in an attachment.')) % { email: @current_user.notification_email, strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
        .modal-footer
          = link_to _('Export issues'), export_csv_project_issues_path(@project, request.query_parameters), method: :post, class: 'btn gl-button btn-success float-left', title: _('Export issues'), data: { track_label: "export_issues_csv", track_event: "click_button", track_value: "", qa_selector: "export_issues_button" }
